$color-gainsboro: #dbe2db;
$color-white: #fff;
$color-black: #000;
$color-light-silver: #d9d9d9;
$color-grey: #393939;
$color-bright-gray: #eaeaea;
$color-american-silver: #d1d1d1;
$color-violet: #3e103e;
$color-silver: #cfc3cf;
$color-light-black: #141414;
$color-success-green: #06a74c;
